<!--
	Unicorn.Configs.Default.config

	This is an example of how to configure a basic Unicorn configuration using your own config patch file.
	Copy this file to use as a basis for your own configuration definitions.

	Enabled configuration definition patches should be present on all environments Unicorn is present on.

	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration
          name="Foundation.Serialization"
          description="Root items"
          extends="Helix.Feature.Base">
          <predicate>
            <!-- Settings -->
            <include name="$(layer).$(module).Settings.Feature" database="master" path="/sitecore/system/Settings/Feature/Sandbox Experience Accelerator">
              <exclude children="true" />
            </include>
            <include name="$(layer).$(module).Settings.Foundation" database="master" path="/sitecore/system/Settings/Foundation/Sandbox Experience Accelerator">
              <exclude children="true" />
            </include>

            <!-- Media -->
            <include name="$(layer).$(module).Media.Feature" database="master" path="/sitecore/media library/Feature/Sandbox Experience Accelerator">
              <exclude children="true" />
            </include>
            <include name="$(layer).$(module).Media.Foundation" database="master" path="/sitecore/media library/Foundation/Sandbox Experience Accelerator">
              <exclude children="true" />
            </include>

            <!-- Templates -->
            <include name="$(layer).$(module).Templates.Feature" database="master" path="/sitecore/templates/Feature/Sandbox Experience Accelerator">
              <exclude children="true" />
            </include>
            <include name="$(layer).$(module).Templates.Foundation" database="master" path="/sitecore/templates/Foundation/Sandbox Experience Accelerator">
              <exclude children="true" />
            </include>

            <!-- Branches -->
            <include name="$(layer).$(module).Branches.Feature" database="master" path="/sitecore/templates/Branches/Feature/Sandbox Experience Accelerator">
              <exclude children="true" />
            </include>
            <include name="$(layer).$(module).Branches.Foundation" database="master" path="/sitecore/templates/Branches/Foundation/Sandbox Experience Accelerator">
              <exclude children="true" />
            </include>

            <!-- Layouts -->
            <include name="$(layer).$(module).Layouts.Feature" database="master" path="/sitecore/layout/Layouts/Feature/Sandbox Experience Accelerator">
              <exclude children="true" />
            </include>
            <include name="$(layer).$(module).Layouts.Foundation" database="master" path="/sitecore/layout/Layouts/Foundation/Sandbox Experience Accelerator">
              <exclude children="true" />
            </include>

            <!-- Placeholder Settings -->
            <include name="$(layer).$(module).Placeholders.Feature" database="master" path="/sitecore/layout/Placeholder Settings/Feature/Sandbox Experience Accelerator">
              <exclude children="true" />
            </include>
            <include name="$(layer).$(module).Placeholders.Foundation" database="master" path="/sitecore/layout/Placeholder Settings/Foundation/Sandbox Experience Accelerator">
              <exclude children="true" />
            </include>

            <!-- Renderings -->
            <include name="$(layer).$(module).Renderings.Feature" database="master" path="/sitecore/layout/Renderings/Feature/Sandbox Experience Accelerator">
              <exclude children="true" />
            </include>
            <include name="$(layer).$(module).Renderings.Foundation" database="master" path="/sitecore/layout/Renderings/Foundation/Sandbox Experience Accelerator">
              <exclude children="true" />
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>