<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <services>
      <configurator type="Sandbox.Feature.Composites.DI.RegisterContainer, Sandbox.Feature.Composites" />
    </services>
    <pipelines>
      <mvc.getXmlBasedLayoutDefinition>
        <processor type="Sandbox.Feature.Composites.Pipelines.GetXmlBasedLayoutDefinition.InjectCompositeComponents, Sandbox.Feature.Composites"
                   patch:instead="*[@type='Sitecore.XA.Feature.Composites.Pipelines.GetXmlBasedLayoutDefinition.InjectCompositeComponents, Sitecore.XA.Feature.Composites']"
                   resolve="true"/>
      </mvc.getXmlBasedLayoutDefinition>
    </pipelines>
  </sitecore>
</configuration>