<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
              <configuration name="Feature.Catalog" 
                description="Sandbox.Feature.Catalog Serialization" 
                dependencies="Foundation.Serialization"
                patch:after="configuration[@name='Foundation.Serialization']"
                extends="Helix.Feature.Base">
                <predicate>
                  <include name="$(layer).$(module).Settings" database="master" path="/sitecore/system/Settings/$(layer)/Sandbox Experience Accelerator/$(module)" />
                  <include name="$(layer).$(module).Branches" database="master" path="/sitecore/templates/Branches/$(layer)/Sandbox Experience Accelerator/$(module)" />
                  <include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/$(layer)/Sandbox Experience Accelerator/$(module)" />
                  <include name="$(layer).$(module).Renderings" database="master" path="/sitecore/layout/Renderings/$(layer)/Sandbox Experience Accelerator/Sandbox $(module)" />
                </predicate>
              </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
